<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Chi MEAN</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>

  </head>
  <body ng-controller="MarketController as market">
    <div class="container">
      <h2>{{market.marketService.trader.cash | currency:"$"}}</h2>
      <div ng-repeat="marketItem in market.marketService.marketItemArray">
        <h4>{{marketItem.name}}</h4>
        <p>Price: {{marketItem.price | currency:"$"}}</p>
        <button ng-disabled="market.marketService.trader.cash < marketItem.price" ng-click="market.marketService.trader.buy(marketItem)">Buy</button>
        <button ng-disabled="market.marketService.trader.inventory[marketItem.name].qty === 0 || !market.marketService.trader.inventory[marketItem.name].qty" ng-click="market.marketService.trader.sell(marketItem)">Sell</button>
        <br />
        <p>Quantity: {{market.marketService.trader.inventory[marketItem.name].qty || 0}}</p>
        <p>Avg. Cost: {{market.marketService.trader.inventory[marketItem.name].avgPrice || 0 | currency:"$"}}</p>



      </div>

    </div>

  </body>
</html>
